body {
    background:darkgrey;
    font-family:Georgia, Times New Roman, serif;
}

.assignment {
    background:lightgray;
    display:flex;
    margin:10px;
    padding:10px
}

.assignment img {
    width:200px;
    padding:10px;
}

h1 {
    color: darkblue;
    text-align:center;
}