/* Structure */
body
{
    background-color: darkseagreen;
}
body 
{
    font-family:Arial, Helvetica, sans-serif
}
#name
{
    font-size: large;
}

#p1
{
    color:black;
}

#title
{
    color:dimgray;
    text-align: center;
}

#sub
{
    color:darkslateblue;
    text-align: center;
}

.assignments
{
    display: flex;
    text-align: center;  
    flex-wrap:wrap;
    justify-content: center;
}
#assign1, #assign2, #assign3, #assign4, #assign5, #assign6, #assign7
{
    margin: 25px 50px;
    border: 3px solid black;
    flex:1;
    flex-grow: 0;
}
#assign8, #assign9, #project1, #assign10, #assign11, #assign12, #assign13
{
    margin: 25px 50px;
    border: 3px solid black;
    flex:1;
    flex-grow: 0;
}




/*gets rid of underline and changes color*/
.assignments a /*class instead of id for both the links*/
{
    text-decoration: none;
    color:cornsilk;
}
.assignments a:hover
{
    color:darkolivegreen;
}

@media only screen and (max-width: 600px)
{
    .assignments
    {
        display: inline;
    }
}