
body
{
    background-color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    background: url(images/brackground\ grass.jpeg) /*makes the website's background that picture*/
}

#info
{
    background: aliceblue;
    width: 50%; /*shows the background image as half of the page in the background*/
    margin: auto;
    padding: 3px;
    border-radius: 3px;
}

#boof
{
    color:black;
}
#retrieve
{
    color:black;
}

#p1
{
   margin-right: 20%;
    color: black;
}

#p2
{
    margin-right: 20%;
    color:black
}



/*table*/
table
{
    border-collapse: collapse;
    background-color: aliceblue;
    padding: 25px 50px 75px;
}
td, th 
{
    border:3px solid black;
    color:black;
}

/*nav page*/
#nav-page a
{
    text-decoration: none;
    color:coral;
    padding: 3px;
    background: whitesmoke;
    border-radius: 3px;
}

#nav-page a:hover
{
    color:darkgoldenrod;
}

a
{
    text-decoration: none;
    color:skyblue;
    padding: 3px;
    background: whitesmoke;
    border-radius: 3px;
}

a:hover
{
    color:grey;
}

img
{
    padding: 5px;
    margin: -5px;
    border: 3px solid black;
    border-radius: 3px;
}

.pirate 
{
    color: blue;
    font-size: 18px;
}





