/* Structure */
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}
.padded-area
{
    padding: 5px;
    margin: auto;
}

/* Typeography */
h1
{
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}

/* Main-nav */
.main-nav
{
    background-color: darkgray;
    justify-content: space-evenly;
    display: inline;
}
.button-exercise
{
    display: none;   
}
#button-exercise1
{
    text-align: center;
    color: blueviolet;
    text-decoration: none;
    border: none;
    background-color: darkgray;
}
#button-exercise2
{
    text-align: center;
    color: blueviolet;
    text-decoration: none;
    border: none;
    background-color: darkgray;
}
.button-exercise a
{
    text-decoration: none;
}
.main-nav:hover
{
    color:blueviolet;
    border-bottom: 5px solid blueviolet;
}
#hamburger div 
{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/* Main-content */
#main-content
{
    width: 50%;
    margin-top: 25px;
}
#col1of2
{
    background-color: darkcyan;
    padding: 5px;
}
#col2of2
{
    background-color: darkcyan;
    padding: 5px;
    text-align: left;
}

#exercise2-h2
{
    background-color: darkcyan;
    text-align: left;
}

/* Form */
label,
input {
    display: inline-block;
}
label {
    width: 100px;
    text-align: right;
    padding: 5px;
}
.label-input
{
    display: inline;
    text-align: left;
    width: 115px;
    padding: 0px;
}

/* Exercises */
.funds-raised
{
    display: none;
}
.age-comparison
{
    display: none;
}

/* Exercise 2 */
#rectangle
{
    width: 50px;
    height: 150px;
    background: #fff;
    margin-left: 115px;
    margin-top: 5px;
}
#rectangle.fill 
{
    background: linear-gradient(180deg, #fff 75%, red 25%);
}
#rectangle.fill2 
{
    background: linear-gradient(180deg, #fff 50%, red 50%);
}
#rectangle.fill3 
{
    background: linear-gradient(180deg, #fff 25%, red 0%);
}
#rectangle.fill4 
{
    background: red;
}

@media only screen and (min-width: 600px) 
{
    .main-nav
    {
        display: flex;
    }
    #hamburger 
    {
        display: none;
    }
    .button-exercise
    {
        display: block;
    }
    .columns
    {
        display: flex;
    }
}
