/* Structure */
body
{

}

#head
{
    max-width: 35%;
}

/* Typeography */
.special
{
    background: cyan;
    padding: 5px;
    color: magenta;
    border:1px dotted orangered;
}


.hide
{
    display: none;
}