/* Structure */
body
{
    font-family: Arial, Helvetica, sans-serif;
}


.hidden
{
    display: none;
}

/* Projects */
.about
{
    display: inline;
}
 
/* Images */
#img1
{
    margin-left: 35%;
}


/* Typeography */
#project-h1
{
    margin-left: 9%;
}
#project-h2
{
    margin-left: 35%;
    margin-top: 6%;
}
#p1
{
    width: 50%;
    margin-left: 35%;
    margin-right: auto;
}

/* main-nav */
#hamburger div 
{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.hide-small
{
    display: none;
}
#nav-items li 
{
    list-style-type: none;

}
#nav-items a 
{
    text-decoration: none;
    color: black;
}




@media only screen and (min-width: 600px) /* fix mobile for everything */
{
    #hamburger div
    {
        display: none;
    }
    .hide-small
    {
        display: block;
    }
    #nav-items li /* fix alignment */
    {
        display: inline-block;
        justify-content: space-between;
        margin-left: 9%;  /*fix alignment*/
        font-size: 1.5em;
    }
    .experience
    {
        display: flex;
        justify-content: space-evenly;
    }

}