/* Structure */
body
{
    font-family: Arial, Helvetica, sans-serif; 
}
#main-header
{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-bottom:30px; 
    
}
.flex
{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-bottom:30px; 
}

#logo
{
    display: flex-start;
}
/* Searchbar */
.search
{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: black; 
}
.search li
{
    display: inline-block;
}

#text
{
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
}

/* top right nav */
.gate
{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: black;

}
.gate li
{
    display: inline-block;
    text-decoration: none;
}
#gateway
{
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
}

/* Horizontal main nav */
horizontal-nav ul{
    padding-left: 0px;
}

.horizontal-nav li{
    list-style-type: none;
    margin: 0 5px;
}

.horizontal-nav a{
    text-decoration: none;
}

/* Main nav */
#list li
{
    padding: 35px;
    display: inline;
    justify-content: space-between;
}
#list
{
    background-color: red;
}

/* Main Content */

#p1-1
{
    margin-left: 100px;
    margin-right:545px;
    background-color:maroon;
    font-size: 3em;
    color: white;
}
#p2-1
{
    font-size: larger;
    color: black;
    text-align: center;
}
#p3-1
{
    font-size: larger;
    color: black;
    text-align: center;
}

.content2
{
    display: flex;
    background-color: maroon;
}
#p1
{
    padding-left: 25px;
    font-size: 3em;
    color: white;
}
#p2
{
    padding-left: 25px;
    font-size: larger;
    color: white;
}

.content3
{
    display: flex;
    background-color: black;
}
#p3
{
    padding-left: 25px;
    font-size: 3em;
    color: white;
}
#p4
{
    padding-left: 25px;
    font-size: larger;
    color: white;
}
.link1 
{
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    background-color: maroon;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
}
.link1 a:hover
{
    background-color: white;
}

.content4
{
    background-color: lightgrey;
    display: flex;
}
#image4-main
{
    margin-left:100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#p5
{
    padding-left: 50px;
    font-size: 3em;
    color: maroon;
}
#p6
{
    padding-left: 50px;
    font-size: larger;
    color: black;
}
.link2 
{
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 50px;
    background-color: maroon;
    border: 3px solid black;
    color: white;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content5
{
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 50px 50px;
}
#research-h1
{
    text-align: center;
}
.link3
{
    text-decoration: none;
}
.link4
{
    text-decoration: none;
}
.link5
{
    text-decoration: none;
}
.link6
{
    text-decoration: none;
}

.content6
{
    display: flex;
    background-color: maroon;
}
#p15
{
    padding-left: 25px;
    font-size: 3em;
    color: white;
}
#p16
{
    padding-left: 25px;
    font-size: larger;
    color: white;
}
.link7
{
    border: 2px solid white;
    background-color: black;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content7
{
    display: flex;
    background-color: white;
}
#p17
{
    padding-left: 25px;
    font-size: 3em;
    color: maroon;
}
#p18
{
    padding-left: 25px;
    font-size: larger;
    color: black;
}
#image-content7
{
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.link8
{
    border: 3px solid white;
    background-color: maroon;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content8
{
    display: flex;
    background-color: darkcyan;
}
#p19
{
    padding-left: 25px;
    font-size: 3em;
    color: white;
}
#p20
{
    padding-left: 25px;
    font-size: larger;
    color: white;
}
.link9
{
    border: 3px solid white;
    background-color: maroon;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content9
{
    display: flex;
    background-color: maroon;
}
#p21
{
    padding-left: 25px;
    font-size: 3em;
    color: white;
}
#p22
{
    padding-left: 25px;
    font-size: larger;
    color: white;
}
.link10
{
    border: 3px solid white;
    background-color: black;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content10
{
    display: flex;
    background-color: white;
}
#p23
{
    padding-left: 25px;
    font-size: 3em;
    color: maroon;
}
#p24
{
    padding-left: 25px;
    font-size: larger;
    color: black;
}
#p25
{
    padding-left: 25px;
    font-size: larger;
    color: black;
}
#p26
{
    padding-left: 25px;
    font-size: larger;
    color: black;
}
#p27
{
    padding-left: 25px;
    font-size: larger;
    color: black;
}
.link11
{
    border: 3px solid white;
    background-color: maroon;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}



/* Footer */
.col1of2
{
    display: flex;
    background-color: maroon;
    justify-content: space-between;
}
.flex-container
{
    color: white;

}
.col1of2 li a
{
    text-decoration: none;
    color: white;
    justify-content: space-around;
}
.col1of2, h1
{
    color: white;
}


.logo
{
    background-color: maroon;
    display:inline;
    justify-content: flex-start;
    padding-right: 45%;
}
#logo-h3
{

}
#logo-h1
{

}

.header-logo-text
{
    color: aliceblue;
    font-size: 1.0em;
}

#logo
{
    width: 125px;
    height: 125px;
    padding: 5px;
}







/*@media only screen and (min-width: 100px)
{
    .horizontal-nav ul, .flex-container
    {
        display: flex;
    }
    #main-nav ul
    {
        justify-content: center;
    }
    #user-nav ul
    {
        justify-content: flex-end;
    }

    #user-nav ul
    {
        justify-content: center;
    }

    .flex-container {
        justify-content: space-between;
    }
    .col1of2
    {
        flex: 1;
    }
}*/